/* inizio header */

header {
    padding: 15px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav > div  ul{
    display: flex;
    gap: 10px;
}

header nav > div  ul li a {
    color: black;
    margin: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 5px 15px;
    text-align: center;
}

.btn--blue{
    background-color: #0161FF;
    color: white;
}


/* inizio main */

.jumbotron {
    background-color: #B4D0E7;
    padding: 20px 0;
}

.container-90 {
    max-width: 90%;
    margin: 0% auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.container-80 {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.container-90 {
    display: flex;
    align-items: flex-start;
}

.jumbotron__text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jumbotron__text a {
    width: 200px;
}

.jumbotron__text i {
    font-size: 3rem;
}

.jumbotron__img {
    flex-basis: 60%;
}

.jumbotron__img img {
    width: 100%;
}

.jumbotron__info {
position: relative;
bottom: -100px;
}

.business-plan h2 {
    margin: 20px ;
}

.business-plan__radios {
    display: flex;
    align-items: center;
    gap: 10px;
}

.business-plan__radio {
    height: 10px;
    aspect-ratio: 1;
    border-radius: 1px solid lightgray;
    border-radius: 50%;
}

.business-plan__scelta {
    display: flex;
    align-items: center;
    gap: 5px;
}

#business-plan__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#business-plan__cards > div {
    flex-grow: 1;
    flex-basis: calc(100% / 3 - 10px);
}


#business-plan__cards > div:last-child {
    flex-basis: 100%;
}

.business-plan__card {
    border: 1px solid lightslategray;
}

.business-plan__card--top {
    text-align: center;
    padding: 10px;
}

.business-plan__card--top,
.business-plan__card--bottom {
 padding: 10px;
}

.business-plan__card--bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-plan__card--bottom ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-plan__card--bottom hr {
    width: 30%;
    border: 1px solid lightslategrey;
}

.fa-check {
    color: #0161FF;
}

.business-plan__scelta span{
    margin-bottom: 10px;
}

.business-plan__card--bottom ul li {
    text-indent: -0.5rem;
    margin-left: 1rem;
}

.business-plan__card--bottom ul li i {
    margin-right: 5px;
}

/* .business-plan__card--bottom {
    margin: 0%;
} */

.business-plan__cards:last-child ,
.business-plan__card--bottoms{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.btn--blue-last{
    margin: 20px;
    background-color: #0161FF;
    color: white;
}

#dropbox-partner > div {
    display: flex;
    gap: 10px;
}

#dropbox-partner figure img {
    width: 100%;
}


.btn--white {
    border: 1px solid black;
    color: black;
}


/* inizio 6 box */

#operazioni-dropbox figure img {
    width: 100%;
}

.operazioni-dropbox__boxs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.operazioni-dropbox__box {
    flex-basis: calc( 100% / 3 - 10px);
}
